@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/Candle1.webp");
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
        background-color: #dcc0ac6c;
        border: 2px solid #48413a;
        color: #48413a;
        display: inline-block;
        font-size: 2rem;
        padding: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 1s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text {
    align-items: center;
    background-color: #dcc0ac;
    color: #5e3520;
    clip-path: polygon(49% 11%, 100% 0, 100% 43%, 100% 100%, 74% 100%, 31% 100%, 0 100%, 0% 43%, 0 0);
    display: flex;
    font-size: 1.5rem;
    height: 200px;
    justify-content: center;
    margin-top: -5rem;
    padding: 0 15rem;
    
}

.intro-text__textbox h3 {
    text-transform: uppercase;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url("../img/Candle2.webp");
    background-size: cover;
    background-position: bottom;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text a {
    background-color: #b08a6179;
    border: 2px solid #2a1c13;
    color: #2a1c13;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease-in-out;

}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    align-items: center;
    background-color: #b08a61;
    color: #5e3520;
    display: flex;
    height: 300px;
    justify-content: center;
    margin-top: -5rem;
    padding: 0 15rem;
    clip-path: polygon(49% 11%, 100% 0, 100% 43%, 100% 100%, 74% 100%, 31% 100%, 0 100%, 0% 43%, 0 0);
}
.packaging_text__textbox h3 {
    text-transform: uppercase;
    padding: 2rem;  
    font-size: 2rem;
}

.packaging_text__textbox p {
    font-size: 1.3rem; 
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url("../img/Candle3.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color: #e7d8c873;
    border: 2px solid #2f2011;
    color: #2f2011;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);  
}

.footer {
    height: 200px;
    background-color: #ddb181;
    color: #2f2011;
    padding-top: 2rem;
    margin-top: -5rem;
    font-size: 2rem; 
    clip-path: polygon(49% 11%, 100% 0, 100% 43%, 100% 100%, 74% 100%, 31% 100%, 0 100%, 0% 43%, 0 0);
}
.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #fac9aa;
    text-decoration: none;
    
}

.footer ul li:hover {
    transform: scale(1.3);
}

